[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pafy = "*"
vlc = "*"
json = "*"
pandas = "*"
keyboard = "*"
ic = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.10"
